*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


.tnav{
    background-color: #f3f3f3;
    height: 30px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

/* HEADER STYLING */

.header-fixed {
	background-color:#fff;
	/* box-shadow:0 1px 1px #ccc; */
	padding: 20px 40px;
	height: 120px;

	box-sizing: border-box;
	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	
}

.header-fixed-placeholder{
	height: 80px;
	display: none;
}
.list{
    padding-top: 20px;
    position: relative;
    left: 200px;
}
.list img{
    position: relative;
    left: 35rem;
    top: -14px;
}

/* Logo */
.header-fixed .header-limiter img{
	float: left;
	padding-right: 10px;
}

.header-fixed .header-limiter h1,h6 {
	float: left;
	margin-top: 10px;
	color: #0338AD	;
}

/* bottom navbar */
.tophead-left a{
    padding: 0 75px;
    line-height: 30px;
    text-decoration: none;
}

.tophead-right .head-links li{
    display: inline-block;
    border-right: 0.5px solid #000;
}

.head-links{
    padding-left: 52rem;
}

.head-links a{
    padding: 0 10px;
    line-height: 30px;
    text-decoration: none;
}

.navbar{
    background-image: linear-gradient(to right,rgb(2, 2, 56), rgb(39, 187, 224)) ;
    height: 50px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar li{
    float: left;
    align-items: center;
    padding-top: 3px;
    padding-left: 60px;

}

.navbar a{
    color: #fff;
    font-size: 18px;
    padding-right: 10px;
    text-decoration: none;
}


.fa-caret-down{
    color: white;

}

/* section news feed */

/* Create two columns/boxes that floats next to each other */
.content{
	padding-left:40px;
	margin-top: 20px;
} 
.content img{
    position: relative;
    left:400px;
    top: -50px;
    align-items: center;
    
} 
.content .left{
    width: 40%;
    float: left;
}
.content .right{
    width: 100%;
    float:right;
    position: relative;
    top:-150px;
}
.btn-rounded{
	background: red;
	padding: 0.52rem 1.1rem;
  	font-size: 1rem;
  	text-align: center;
  	cursor: pointer;
  	text-decoration: none;
  	border-radius: 3px;
  	position: absolute;
	color: white;
}
.sec1 {
	float: left;
	width: 60%;
	height: 300px; /* only for demonstration, should be removed */
	background: #ccc;
	padding: 20px;
	margin-right: 20px;
    margin-bottom: 20px;
    border-top: 0.5rem rgb(101, 101, 242) solid;
}



  article {
	float: left;
	padding: 20px;
	/* padding-right: 30px; */
	width: 36%;
	background-color: #dfdfdf;
    border-top: 0.5rem rgb(101, 101, 242) solid;
	height: 300px; /* only for demonstration, should be removed */
  }
  
  /* Clear floats after the columns */
  section::after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Style the footer */
  footer {
	background-color: #111;
	padding: 10px;
	text-align: center;
	color: #FFF;
  }


  




    











